<div id="pcenter">    
    <div id="shortcut">
        <div class="w">
            <ul class="fl">
                <li class="dorpdown" id="area">
                    <div class="dt">
                        送至：<span class="" title="四川">四川</span><i class="ci-right iconfont">&#xe654;</i>
                    </div>
                    <div class="dd dorpdown-layer">
                        <div class="ui-areamini-content">
                            <div class="ui-areamini-content-list">
                                <div class="item"><a data-id="1" href="javascript:void(0)">北京</a></div>
                                <div class="item"><a data-id="2" href="javascript:void(0)">上海</a></div>
                                <div class="item"><a data-id="3" href="javascript:void(0)">天津</a></div>
                                <div class="item"><a data-id="4" href="javascript:void(0)">重庆</a></div>
                                <div class="item"><a data-id="5" href="javascript:void(0)">河北</a></div>
                                <div class="item"><a data-id="6" href="javascript:void(0)">山西</a></div>
                                <div class="item"><a data-id="7" href="javascript:void(0)">河南</a></div>
                                <div class="item"><a data-id="8" href="javascript:void(0)">辽宁</a></div>
                                <div class="item"><a data-id="9" href="javascript:void(0)">吉林</a></div>
                                <div class="item"><a data-id="10" href="javascript:void(0)">黑龙江</a></div>
                                <div class="item"><a data-id="11" href="javascript:void(0)">内蒙古</a></div>
                                <div class="item"><a data-id="12" href="javascript:void(0)">江苏</a></div>
                                <div class="item"><a data-id="13" href="javascript:void(0)">山东</a></div>
                                <div class="item"><a data-id="14" href="javascript:void(0)">安徽</a></div>
                                <div class="item"><a data-id="15" href="javascript:void(0)">浙江</a></div>
                                <div class="item"><a data-id="16" href="javascript:void(0)">福建</a></div>
                                <div class="item"><a data-id="17" href="javascript:void(0)">湖北</a></div>
                                <div class="item"><a data-id="18" href="javascript:void(0)">湖南</a></div>
                                <div class="item"><a data-id="19" href="javascript:void(0)">广东</a></div>
                                <div class="item"><a data-id="20" href="javascript:void(0)">广西</a></div>
                                <div class="item"><a data-id="21" href="javascript:void(0)">江西</a></div>
                                <div class="item"><a data-id="22" href="javascript:void(0)">四川</a></div>
                                <div class="item"><a data-id="23" href="javascript:void(0)">海南</a></div>
                                <div class="item"><a data-id="24" href="javascript:void(0)">贵州</a></div>
                                <div class="item"><a data-id="25" href="javascript:void(0)">云南</a></div>
                                <div class="item"><a data-id="26" href="javascript:void(0)">西藏</a></div>
                                <div class="item"><a data-id="27" href="javascript:void(0)">陕西</a></div>
                                <div class="item"><a data-id="28" href="javascript:void(0)">甘肃</a></div>
                                <div class="item"><a data-id="29" href="javascript:void(0)">青海</a></div>
                                <div class="item"><a data-id="30" href="javascript:void(0)">宁夏</a></div>
                                <div class="item"><a data-id="31" href="javascript:void(0)">新疆</a></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="fr">
                <li class="fore1 dorpdown" id="">
                    <div class="dt cw-icon">
                        <a target="_blank" href="#">个人中心</a>
                        <i class="iconfont">&#xe654;</i>
                    </div>
                    <div class="dd dorpdown-layer">
                         <div class="item"> <a href="" clstag="" target="_blank">待处理订单<span id="num-unfinishedorder"></span></a> </div>
                         <div class="item"> <a href="" target="_blank">消息<span id="num-tip"><span class="num style-red">&nbsp;1</span></span></a>                                    </div>
                    </div>
                </li>
                <li class="space"></li>
                <li class="fore2">
                    <div class="dt">
                        <a target="_blank" href="#">我的订单</a>
                    </div>
                </li>
                <li class="space"></li>
                <li class="fore3" id="">
                    <div class="dt">
                        <a target="_blank" href="#">企业采购</a>
                    </div>
                </li>
                <li class="space"></li>
                <li class="fore4" id="">
                    <div class="dt">
                        <a target="_blank" href="#">企业用户中心</a>
                    </div>
                </li>
                <li class="space"></li>
                <li class="fore5">
                    <div class="dt">
                        <a target="_blank" href="#">车型大全</a>
                    </div>
                </li>
                <li class="space"></li>
                <li class="fore5">
                    <div class="dt">
                        <a target="_blank" href="#">配件大全</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--search-->
    <div id="nav">
        <div class="w">
            <div class="logo">
                <a href="#" target="_blank" class="fore1" clstag="homepage|keycount|home2013|Homejdlogo"></a>
                <a href="#" target="_self" class="fore2" clstag="homepage|keycount|home2013|Homebackm">云搜索</a>
                <a href="#" target="_blank" class="fore3" clstag="homepage|keycount|home2013|Homebackjd">返回首页</a>
            </div>
            <div class="navitems">
                <ul>
                    <li class="fore-1">
                        <a target="_self" href="" clstag="homepage|keycount|home2013|Homeindex">首页</a>
                    </li>
                    <li class="fore-2">
                        <div class="dl" clstag="click|keycount|myhome|hsz">
                            <div class="dt">
                                <span class="myjd-set">账户设置</span>
                                <i class="iconfont">&#xe654;</i>
                            </div>
                            <div class="dd">
                                <a tid="_MYJD_info" clstag="Homeyser" href="" target="_self"><span>个人信息</span></a>
                                <a tid="_MYJD_safe" clstag="Homesafe" href="" target="_self"><span>账户安全</span></a>
                                <a tid="_MYJD_comments" clstag="homeadd" href="" target="_self"><span>收货地址</span></a>
                                <a tid="_MYJD_recor" clstag="Homeedm" href="" target="_self"><span>消费记录</span></a>
                                <a tid="_MYJD_recor" clstag="Homeedm" href="" target="_self"><span>维修历史</span></a>                                
                            </div>
                        </div>
                    </li>
                    <li class="fore-1">
                        <a tid="_MYJD_joy" href="" target="_self" clstag="homepage|keycount|home2013|Homemsg">消息<i>1</i></a>
                    </li>
                </ul>
            </div>
            <div class="nav-r">
                <div id="search">
                    <ul id="shelper" class="hide"></ul>
                    <div class="form">
                        <input type="text" onkeydown="javascript:if(event.keyCode==13) search('key');" autocomplete="off" id="key" accesskey="s"
                            class="text">
                        <button onclick="search('key');return false;" class="button cw-icon" type="button"><i></i>搜索</button>
                    </div>
                </div>
                <div id="settleup" class="dorpdown">
                    <div class="cw-icon">
                        <i class="iconfont">&#xe60a;</i> 
                        <i class="iconfont  ci-right">&#xe642;</i>
                        <i class="ci-count" id="shopping-amount">1</i>
                        <a target="_blank" href="">我的购物车</a>
                    </div>
                    <div class="dorpdown-layer">
                        <div class="spacer"></div>
                        <div id="settleup-content">
                            <div class="smt">
                                <h4 style="line-height: 25px; font-size: 12px; font-weight: bold;" class="fl">最新加入的商品</h4>
                            </div>
                            <div class="smc">
                                <ul id="mcart-sigle">
                                    <li>
                                        <div class="p-img fl"><a href="" target="_blank"><img src="" width="50" height="50" alt=""></a></div>
                                        <div class="p-name fl"><a href="" title="火花塞 " target="_blank">火花塞 </a></div>
                                        <div class="p-detail fr ar"> <span class="p-price"><strong>￥339.00</strong>×1</span> <br> 
                                            <a class="delete" data-id="2879065" data-itemtype="1" data-type="RemoveProduct" href="javascript:void(0)">删除</a>
                                        </div>
                                    </li>
                                </ul>
                                <ul id="mcart-gift"></ul>
                            </div>
                            <div class="smb ar">
                                <div class="p-total">共<b>1</b>件商品　共计<strong>￥ 339.00</strong></div><a href="" title="去购物车" id="btn-payforgoods">去购物车</a></div>
                        </div>
                    </div>
                </div>
                <div id="hotwords">
                    <a href="" target="_blank">刹车片</a>
                    <a href="" target="_blank">轮胎</a>
                    <a href="" target="_blank">减震器</a>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>

    <!--main-->
    <div id="_container">
        <div class="w">
            <div id="content">
                <div id="sub">
                    <div id="menu">
                        <dl class="fore1">
                            <dt id="_MYJD_order">订单中心</dt>
                            <dd class="fore1_1" id="_MYJD_ordercenter">
                                <a clstag="homepage|keycount|home2013|Homeoder" href="" target="_self">我的订单</a>
                            </dd>
                            <dd class="fore1_2" id="_MYJD_comments">
                                <a clstag="homepage|keycount|home2013|Homecomments" href="" target="_self">评价晒单</a>
                            </dd>
                            <dd class="fore1_3" id="_MYJD_alwaysbuy">
                                <a clstag="homepage|keycount|home2013|Homewdcgqd" href="" target="_self">我的常购商品&nbsp;</a>
                            </dd>
                        </dl>
                        <dl class="fore2">
                            <dt id="_MYJD_gz">关注中心</dt>
                            <dd class="fore2_1" id="_MYJD_product">
                                <a clstag="homepage|keycount|home2013|Homefollow" href="" target="_self">关注的车型</a>
                            </dd>
                            <dd class="fore2_2" id="_MYJD_vender">
                                <a clstag="homepage|keycount|home2013|Homefollowv" href="" target="_self">关注的配件</a>
                            </dd>
                            <dd class="fore2_3" id="_MYJD_followwhat">
                                <a clstag="homepage|keycount|home2013|Homewhat" href="" target="_self">关注的商家</a>
                            </dd>
                            <dd class="fore2_6" id="_MYJD_activity">
                                <a clstag="homepage|keycount|home2013|Homefollowa" href="" target="_self">关注的活动</a>
                            </dd>
                            <dd class="fore2_7" id="_MYJD_history">
                                <a clstag="homepage|keycount|home2013|Homelist" href="" target="_blank">浏览历史</a>
                            </dd>
                        </dl>
                        <dl class="fore3">
                            <dt id="_MYJD_gz">我的车辆</dt>
                            <dd class="fore2_1" id="_MYJD_product">
                                <a clstag="homepage|keycount|home2013|Homefollow" href="" target="_self">车辆信息</a>
                            </dd>
                            <dd class="fore2_2" id="_MYJD_vender">
                                <a clstag="homepage|keycount|home2013|Homefollowv" href="" target="_self">维修历史</a>
                            </dd>
                            <dd class="fore2_3" id="_MYJD_followwhat">
                                <a clstag="homepage|keycount|home2013|Homewhat" href="" target="_self">预约服务</a>
                            </dd>
                            <dd class="fore2_6" id="_MYJD_activity">
                                <a clstag="homepage|keycount|home2013|Homefollowa" href="" target="_self">附近服务站</a>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div id="main">

                </div>
            </div>
        </div>
    </div>

    <!--foot-info-->
    <div id="service">
        <div class="slogen">
            <span class="item fore1">
			<i></i><b>多</b>品类齐全，轻松购物
		</span>
            <span class="item fore2">
			<i></i><b>快</b>多仓直发，极速配送
		</span>
            <span class="item fore3">
			<i></i><b>好</b>正品行货，精致服务
		</span>
            <span class="item fore4">
			<i></i><b>省</b>天天低价，畅选无忧
		</span>
        </div>
        <div class="w">
            <div class="wl fl">
                <dl class="fore1">
                    <dt><b>购物指南</b></dt>
                    <dd>
                        <div><a rel="nofollow" target="_blank" href="">购物流程</a></div>
                        <div><a rel="nofollow" target="_blank" href="">会员介绍</a></div>
                        <div><a rel="nofollow" target="_blank" href="">常见问题</a></div>
                    </dd>
                </dl>
                <dl class="fore2">
                    <dt><b>配送方式</b></dt>
                    <dd>
                        <div><a rel="nofollow" target="_blank" href="">配送费用</a></div>
                        <div><a rel="nofollow" target="_blank" href="">配送说明</a></div>
                        <div><a rel="nofollow" target="_blank" href="">配送方式</a></div>
                    </dd>
                </dl>
                <dl class="fore3">
                    <dt><b>支付方式</b></dt>
                    <dd>
                        <div><a rel="nofollow" target="_blank" href="">到店支付</a></div>
                        <div><a rel="nofollow" target="_blank" href="">微信支付</a></div>
                        <div><a rel="nofollow" target="_blank" href="">支付宝</a></div>
                        <div><a rel="nofollow" target="_blank" href="">银行汇款</a></div>
                    </dd>
                </dl>
                <dl class="fore4">
                    <dt><b>售后服务</b></dt>
                    <dd>
                        <div><a rel="nofollow" target="_blank" href="">售后政策</a></div>
                        <div><a rel="nofollow" target="_blank" href="">退货流程</a></div>
                        <div><a rel="nofollow" target="_blank" href="">质量保障</a></div>
                    </dd>
                </dl>
                <dl class="fore5">
                    <dt><b>关于我们</b></dt>
                    <dd>
                        <div><a rel="nofollow" target="_blank" href="">联系我们</a></div>
                        <div><a rel="nofollow" target="_blank" href="">联系我们</a></div>
                        <div><a rel="nofollow" target="_blank" href="">联系我们</a></div>
                    </dd>
                </dl>                    
            </div>
            <div class="wr fr">                
                    <dt><b>微信公众号</b></dt>                    
                    <dd style="padding-left:0;">
                        <div><img style="width:100px; height:100px;" src="../../assets/imgs/lpf/weixin.png"></div>
                    </dd>
            </div>
            <span class="clr"></span>
        </div>
    </div>

    <!--foot-info-->
    <div class="w">
        <table cellspacing="0" cellpadding="0" align="center" border="0">
            <tbody>
                <tr>
                    <td align="middle"><img height="82" src="http://auto.easp.cn/index_files/top6.jpg" width="910"></td>
                </tr>
            </tbody>
        </table>
        <div align="center">电信增值服务经营性许可证编号：川B2-20050197 备案/许可证编号：蜀ICP备
            <a href="http://www.miibeian.gov.cn/" style="color: -webkit-link; text-decoration: underline; cursor: auto;" target="_blank">09004347</a>号
            <br><br>信息系统安全等级保护备案证书编号：51011099129-00001<br><br>
        </div>
        <table cellspacing="0" cellpadding="15" align="center" border="0">
            <tbody>
                <tr>
                    <td><a href="http://www.cdnet110.com/jj" target="_blank"><img height="80" src="http://auto.easp.cn/index_files/2.jpg" width="60" border="0"></a></td>
                    <td><a href="http://www.cdnet110.com/cc" target="_blank"><img height="80" src="http://auto.easp.cn/index_files/3.jpg" width="60" border="0"></a></td>
                    <td><a href="http://www.cdnet110.com/alert" target="_blank"><img height="80" src="http://auto.easp.cn/index_files/1.gif" width="80" border="0"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="J-global-toolbar">
    <div class="jdm-toolbar-wrap J-wrap">
        <div class="jdm-toolbar J-toolbar">
            <div class="jdm-toolbar-tabs J-tab">
                <div data-type="bar" clstag="h|keycount|cebianlan_h_jdvip|btn" class="jdm-toolbar-tab jdm-tbar-tab-jdvip" data-name="jdvip"
                    data-login="true" data-iframe="#"> <i class="tab-tip"></i> <i class="tab-ico"></i> <em class="tab-text"> 会员 </em> <span class="tab-sub J-count hide">0</span>
                    <!--每个div均有 暂时无用 <div class="tabs-tip hide"> <span class="ico"></span> <span class="text">成功加入购物车!</span> <b></b> </div>-->
                </div>
                <div data-type="bar" clstag="h|keycount|cebianlan_h_cart|btn" class="jdm-toolbar-tab jdm-tbar-tab-cart" data-name="cart">
                    <i class="tab-ico"></i> <em class="tab-text"> 购物车 </em> <span class="tab-sub J-count hide" style="display: none;">0</span>
                </div>
                <div data-type="bar" clstag="h|keycount|cebianlan_h_follow|btn" class="jdm-toolbar-tab jdm-tbar-tab-follow" data-name="follow"
                    data-login="true"> <i class="tab-ico"></i> <em class="tab-text"> 我的关注 </em> <span class="tab-sub J-count hide">0</span>
                </div>
                <div data-type="bar" clstag="h|keycount|cebianlan_h_history|btn" class="jdm-toolbar-tab jdm-tbar-tab-history" data-name="history">
                    <i class="tab-ico"></i> <em class="tab-text"> 我的足迹 </em> <span class="tab-sub J-count hide">0</span>
                </div>
                <div clstag="h|keycount|cebianlan_h_message|btn" class="jdm-toolbar-tab jdm-tbar-tab-message" data-name="message"><a target="_blank" href=""> <i class="tab-ico"></i> <em class="tab-text"> 我的消息 </em></a> <span class="tab-sub J-count hide">0</span>
                </div>
                <div data-type="bar" clstag="h|keycount|cebianlan_h_jimi|btn" class="jdm-toolbar-tab jdm-tbar-tab-jimi" data-name="jimi"
                    data-login="true" data-iframe="#"> <i class="tab-ico"></i> <em class="tab-text"> 咨询客服 </em> <span class="tab-sub J-count hide">0</span>
                    </div>
            </div>
            <div class="jdm-toolbar-footer">
                <div data-type="link" class="jdm-toolbar-tab jdm-tbar-tab-top"> <a href="#" clstag="h|keycount|cebianlan_h|top"> <i class="tab-ico"></i> <em class="tab-text">顶部</em> </a>                        </div>
                <div data-type="link" class="jdm-toolbar-tab jdm-tbar-tab-feedback"> <a href="#" target="_blank" clstag="h|keycount|cebianlan_h|feedback"> <i class="tab-ico"></i> <em class="tab-text">反馈</em> </a></div>
            </div>
        </div>
    </div>
</div>