<div class="container">

    	<!--所有分类 Start-->
	<div id="wrap" style="width:210px; ">
		<div class="all-sort-list">
			<div class="item bo">
				<a href=""><img src="../.././assets/imgs/lpf/peijian.jpg" width="206" height="120" title="买配件"></a>
				<div class="item-list clearfix">
					<div class="subitem">
						<div class="cate-channel" clstag="h|keycount|2016|0601b">
							<a href="#" class="cate-channel-lk ccl1" target="_blank">配件大全<i class="iconfont cate-channel-arrow">></i></a>
							<a href="#" class="cate-channel-lk" target="_blank">内饰件<i class="iconfont cate-channel-arrow">></i></a>
							<a href="#" class="cate-channel-lk" target="_blank">外饰件<i class="iconfont cate-channel-arrow">></i></a>
							<a href="#" class="cate-channel-lk" target="_blank">润滑油<i class="iconfont cate-channel-arrow">></i></a>
							<a href="#" class="cate-channel-lk" target="_blank">刹车片<i class="iconfont cate-channel-arrow">></i></a>
						</div>
						
						<dl class="fore1">
							<dt><a href="#">常规易损件<i class="iconfont cate-channel-arrow">></i></a></dt>
							<dd><em><a href="#"><span>轮胎</span></a></em><em><a href="#">滤清器</a></em><em><a href="#">蓄电池</a></em><em><a href="#"><span>刹车片</span></a></em><em><a href="#">雨刮片</a></em><em><a href="#">火花塞</a></em><em><a href="#">正时套装</a></em></dd>
						</dl>
						<dl class="fore2">
							<dt><a href="#">动力组合件<i class="iconfont cate-channel-arrow">></i></a></dt>
							<dd><em><a href="#"><span>发动机</span></a></em><em><a href="#"><span>变速箱</span></a></em><em><a href="#">水箱散热器</a></em><em><a href="#">机油泵</a></em><em><a href="#">燃油泵</a></em></dd>
						</dl>
						<dl class="fore3">
							<dt><a href="#">外观、照明<i class="iconfont cate-channel-arrow">></i></a></dt>
							<dd><em><a href="#"><span>前大灯</span></a></em><em><a href="#"><span>后尾灯</span></a></em><em><a href="#">雾灯</a></em><em><a href="#">后视镜</a></em><em><a href="#">前保险杠</a></em><em><a href="#">后保险杠</a></em></dd>
						</dl>
						<dl class="fore4">
							<dt><a href="#">发动机、起动机<i class="iconfont cate-channel-arrow">></i></a></dt>
							<dd><em><a href="#">起动机</a></em><em><a href="#">发动机</a></em><em><a href="#">发动机皮带</a></em></dd>
						</dl>
						<dl class="fore5">
							<dt><a href="#">进排气配件<i class="iconfont cate-channel-arrow">></i></a></dt>
							<dd><em><a href="#"><span>三元催化器</span></a></em><em><a href="#">排气管</a></em><em><a href="#">进气歧管</a></em><em><a href="#">排气歧管</a></em><em><a href="#">消音器</a></em></dd>
						</dl>
						<dl class="fore6">
							<dt><a href="#">汽车传感器<i class="iconfont cate-channel-arrow">></i></a></dt>
							<dd><em><a href="#"><span>氧传感器</span></a></em><em><a href="#"><span>机油压力传感器</span></a></em><em><a href="#">ABS传感器</a></em><em><a href="#">凸轴轮位置传感器</a></em></dd>
						</dl>
						<dl class="fore7">
							<dt>底盘系统件<i class="iconfont cate-channel-arrow">></i></dt>
							<dd><em><a href="#"><span>减震器</span></a></em><em><a href="#">摆臂</a></em><em><a href="#">拉杆球头</a></em><em><a href="#">半轴</a></em><em><a href="#">方向机</a></em><em><a href="#">轮毂单元</a></em><em><a href="#">球笼</a></em><em><a href="#">刹车分泵</a></em></dd>
						</dl>
					</div>
					<div class="cat-right">
						<dl class="categorys-promotions" clstag="homepage|keycount|home2013|0601c">
							<dd>
							<ul>
								<li><a href="#" target="_blank"><img src="../../assets/imgs/lpf/rBEhWFJTydgIAAAAAAAiD8_1J3AAAD5mAMC0SYAACIn230.jpg" width="194" height="70" title="特价书满减"></a></li>
								<li><a href="#" target="_blank"><img src="../../assets/imgs/lpf/rBEhVlJTyt8IAAAAAAAiq1D-0D8AAD7_gIE2KUAACLD102.jpg" width="194" height="70" title="重磅独家"></a></li>
							</ul>
							</dd>
						</dl>
						<dl class="categorys-brands" clstag="homepage|keycount|home2013|0601d">
							<dt>推荐品牌</dt>
							<dd>
							<ul>
								<li><a href="#" target="_blank">成都国龙</a></li>
								<li><a href="#" target="_blank">云平台</a></li>
								<li><a href="#" target="_blank">川汽野马</a></li>
								<li><a href="#" target="_blank">山东凯马</a></li>
								<li><a href="#" target="_blank">华源莱动</a></li>
							</ul>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="item">
				<a href=""><img src="../../assets/imgs/lpf/zhengche.jpg" width="206" height="120" title="买整车"></a>
				<div class="item-list clearfix">
					<div class="subitem">
						<dl class="fore1">
							<dt><a href="#">品牌<i class="iconfont cate-channel-arrow">></i></a></dt>
							<dd><em><a href="#">川汽野马</a></em><em><a href="#">山东凯马</a></em><em><a href="#">华源莱动</a></em><em><a href="#">山东五征</a></em><em><a href="#">山东黑豹</a></em></dd>
						</dl>
						<dl class="fore2">
							<dt><a href="#">级别<i class="iconfont cate-channel-arrow">></i></a></dt>
							<dd><em><a href="#">皮卡</a></em><em><a href="#">SUV</a></em><em><a href="#">微面</a></em><em><a href="#">轻客</a></em><em><a href="#">小型车</a></em><em><a href="#">中型车</a></em></dd>
						</dl>
						<dl class="fore3">
							<dt><a href="#">价格<i class="iconfont cate-channel-arrow">></i></a></dt>
							<dd><em><a href="#">5万以下</a></em>
							<!-- <em><a href="#">5-10万</a></em><em><a href="#">10-20万</a></em><em><a href="#">20-30万</a></em><em><a href="#">30-50万</a></em><em><a href="#">30-50万AAAAAAAAAAAAAAAAA</a></em> -->
								<em><input id="priceMin" title="最低价" maxlength="3" onkeyup="this.value = this.value.replace(/[^0-9]/g, '');" style="width:30px; height:14px;"><span>万</span>- <input id="priceMax" title="最高价" maxlength="8" onkeyup="this.value = this.value.replace(/[^0-9]/g, '');" style="width:30px; height:14px;"><span>万</span> 
									<a id="priceBtn" href="#" >确定</a>
								</em>
							</dd>	                                        			
						</dl>
						<dl class="fore4">
							<dt>排量<i class="iconfont cate-channel-arrow">></i></dt>
							<dd><em><a href="#">1.0L及以下</a></em><em><a href="#">1.1-1.6L</a></em><em><a href="#">1.7-2.0L</a></em><em><a href="#">2.1-2.5L</a></em><em><a href="#">2.6-3.0L</a></em><em><a href="#">3.1-4.0L</a></em><em><a href="#">4.0及以上</a></em></dd>
						</dl>
					</div>
					<div class="cat-right">
						<dl class="categorys-promotions" clstag="homepage|keycount|home2013|0601c">
							<dd>
							<ul>
								<li><a href="#" target="_blank"><img src="../../assets/imgs/lpf/rBEhWFJTydgIAAAAAAAiD8_1J3AAAD5mAMC0SYAACIn230.jpg" width="194" height="70" title="特价书满减"></a></li>
								<li><a href="#" target="_blank"><img src="../../assets/imgs/lpf/rBEhVlJTyt8IAAAAAAAiq1D-0D8AAD7_gIE2KUAACLD102.jpg" width="194" height="70" title="重磅独家"></a></li>
							</ul>
							</dd>
						</dl>
						<dl class="categorys-brands" clstag="homepage|keycount|home2013|0601d">
							<dt>热门车型</dt>
							<dd>
							<ul>
								<li><a href="#" target="_blank">哈弗H6</a></li>
								<li><a href="#" target="_blank">东风风光580</a></li>
								<li><a href="#" target="_blank">奥迪A6</a></li>
								<li><a href="#" target="_blank">野马T70</a></li>
							</ul>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="item">
				<a href=""><img src="../../assets/imgs/lpf/fuwu.jpg" width="206" height="120" title="找服务"></a>
				<div class="item-list clearfix">
					<a href=""><img src="../../assets/imgs/lpf/fuwuimg.png" width="100%" style="margin-top: -10px; " title="服务"></a>
				</div>
			</div>
		</div>
	</div>

<div style="padding-top: 2px; padding-left: 0px; margin-left: 22px; width:720px; position:relative; left:185px; top:-362px; ">
        <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
              <img src="../.././assets/imgs/slide1.jpg" alt="First slide">
			        <div class="carousel-caption1"></div><!--标题1-->
          </div>
          <div class="item">
              <img src="../.././assets/imgs/slide1.jpg" alt="First slide">
			        <div class="carousel-caption2"></div><!--标题1-->
          </div>
          <div class="item">
              <img src="../.././assets/imgs/slide1.jpg" alt="First slide">
			        <div class="carousel-caption3"></div><!--标题1-->
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>


  <div class="row">

    <form #searchform="ngForm" (ngSubmit)="Search()" class="form-horizontal">
      <div class="col-md-offset-3 col-lg-5" style="padding-right: 0px;">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">全文<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">全文</a></li>
              <li><a href="#">主题</a></li>
              <li><a href="#">作者</a></li>
              <li><a href="#">关键字</a></li>
            </ul>
          </div>
          <input type="text" class="form-control" placeholder="输入" [(ngModel)]="query" id="query" name="query" #name="ngModel"
          (keyup)="searchTerm.next($event.target.value)">
          <!--<input type="text" class="form-control" placeholder="输入" [(ngModel)]="query" name="query" #query="ngModel">-->
        </div>
      </div>
      <div style="float:left;">
        <button type="submit" class="btn btn-default" style="background-color:#0080C0;color:#FFFFFF">搜索</button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>hello world!</p>
      <div *ngIf="suggestions">
        <h4>Did you mean?</h4>
        <ul class="sugestion-list">
          <li *ngFor="let suggest of suggestions | slice:0:9"><a>{{suggest.Suggest}}</a></li>
        </ul>
      </div>

      <h4 *ngIf="result.total > 0">Found <b>{{result.total}}</b> posts in <b>{{result.took}}</b> ms.</h4>
      <h4 *ngIf="result.message">{{message}}</h4>
    </div>
  </div>

  <div>
    <div class="col-sm-2 col-xs-3">
      <div *ngIf="result.total > 0">
        <h4>Posts by tag</h4>
        <ul class="category-list">
          <li *ngFor="let u of result.aggs | keyValueFilter">

            <a>{{u.key}}</a>
            <small class="pull-right">({{u.value}})</small>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-9 col-sm-offset-1" >
      <div class="row margin-bottom-small" *ngFor="let item of result.items">
        <div class="col-md-12" >
          <div class="row">
            <div class="col-md-12">
              <h3>{{item.Title}}</h3>
            </div>			
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>{{item.Body}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <span *ngFor="let tag of item.Tags" class="label label-primary">{{tag}}</span>
            </div>
            <div class="col-md-4 text-right">
              <small>Votes: <span class="label label-info label-round">{{item.Score}}</span></small>
              <small>Answers: <span class="label label-info label-round">{{item.AnswerCount}}</span></small>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
