@charset "utf-8";
/* 首页菜单 searchtest*/
#wrap {
font-size: 12px;
z-index: 999;

/* Remove margin padding */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td { margin:0; padding:0; }

/* Default Font */
body,button,input,select,textarea { font:12px/1.5 \5b8b\4f53,arial,sans-serif; }
h1,h2,h3,h4,h5,h6 { font-size:100%; }
address,cite,dfn,em,var { font-style:normal; }
code,kbd,pre,samp { font-family:courier new,courier,monospace; }
small { font-size:12px; }
ul,ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
legend { color:#000; }
fieldset,img { border:0; }
button,input,select,textarea{ font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

.col-main{ float:left; width:100%; min-height:1px; }
.col-sub,.col-extra { float:left; }
.layout:after,.main-wrap:after,.col-sub:after,.col-extra:after { content:'\20'; display:block; height:0; clear:both; }
.layout,.main-wrap,.col-sub,.col-extra { zoom:1; }

/* Common Features */
.hidden { display:none; }
.invisible { visibility:hidden; }

/* Remove Float */
.clear { display:block; height:0; overflow:hidden; clear:both; }
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }

/* For non ie browsers also display the vertical scroll bar by default, to prevent the flicker caused by the scroll bar */
html { overflow-y:scroll; }

/* Default link styles */
a:link,a:visited { text-decoration:none; }
a:hover,a:active { text-decoration:underline; }
body { height:1500px; }

.all-sort-list { position:relative; width:206px; border-top:none; padding:0px; background:#FAFAFA; }
.all-sort-list .item { height:120px; border-top:1px solid #FFFFFF;}
.all-sort-list .item.bo { border-top:none; } 
.all-sort-list .item a { color:#000; text-decoration:none; }
.all-sort-list .item a:hover { font-weight:bold; color:#E4393C; }
.all-sort-list .item:hover .item-list {display: block; }
.all-sort-list .item-list { display:none; position:absolute; width:710px; min-height:300px; _height:300px; background:#FFF; left:205px; box-shadow:0px 0px 10px #DDDDDD; border:1px solid #DDD; top:0px; z-index:1000 }//

.item-list.clearfix { *zoom:1; padding:10px 0px; }
.item-list .subitem { float:left; width:487px; padding:0px 4px 0px 8px; }//
.item-list .subitem .iconfont { font-family: iconfont; font-style: normal; -webkit-text-stroke-width: .2px; -moz-osx-font-smoothing: grayscale; }
.item-list .subitem .cate-channel { overflow: hidden; padding-top: 10px; padding-left: 20px; height: 34px; }//
.item-list .subitem .cate-channel a { float: left; margin-right: 10px; padding: 0 10px; height: 34px; background-color: #6e6568; line-height: 24px; color: #fff; }//
.item-list .subitem .cate-channel a:hover { font-weight:normal; background-color: #5c5251; color: #fff; }
.item-list .subitem .cate-channel .ccl1 { background-color: #0df; }
.item-list .subitem .cate-channel-arrow { margin-left: 5px; }

.item-list .subitem dl { border-top:1px solid #EEE; padding:6px 0px; overflow:hidden; zoom:1; }
.item-list .subitem .fore1 { border-top:none; }
.item-list .subitem dt { float:left; width:90px; line-height:22px; text-align:right; padding:3px 6px 0px 0px; font-weight:700; color:#E4393C; }//
.item-list .subitem dt a { color:#E4393C; text-decoration:none; }
.item-list .subitem dd { float:left; width:385px; padding:3px 0px 0px; overflow:hidden; }//
.item-list .subitem dd em { float:left; height:14px; line-height:14px; padding:0px 8px; margin-top:5px; border-left:1px solid #CCC; }//
.item-list .subitem dd em a { color:#666; text-decoration:none; }
.item-list .subitem dd em a span { color:#EC7642; text-decoration:none; padding:0px;}
.item-list .subitem dd em a:hover, .item-list .cat-right dd a:hover { font-weight:normal; text-decoration:underline; }

.item-list .cat-right { float:right; width:210px; }
.item-list .cat-right dl { width:210px; padding:6px 8px; }//
.item-list .cat-right dt { padding:3px 6px 0px 0px; font-weight:700; color:#E4393C;  }
.item-list .cat-right dd { padding:3px 0px 0px; line-height:22px; overflow:hidden; }
.item-list .cat-right dd a { color:#EC7642; text-decoration:none; }
.item-list .cat-right dd a:hover { color:#666; }
}